<a href="https://colab.research.google.com/github/BrunoDkno368/Segundo-proyecto-de-ETL/blob/main/Untitled13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
import pandas as pd
import numpy as np

# Extrat (E)

In [5]:
ventas = pd.read_csv("/content/drive/MyDrive/ETL practica/datos_practica_etl_1000.csv")

Primeras filas de datos

In [6]:
print("Ventas, primeras filas:")
print(ventas.head())

Ventas, primeras filas:
   VentaID  ProductoID  ClienteID       Fecha  Cantidad  PrecioUnitario  Monto
0        1         NaN        NaN  2023-10-16       5.0            50.0  250.0
1        2       104.0      202.0  2023-08-21       4.0             NaN    NaN
2        3       105.0      203.0  2023-03-18       5.0           100.0  500.0
3        4         NaN      205.0  2023-04-26       1.0           500.0  500.0
4        5       103.0      204.0  2023-06-03       4.0             NaN    NaN

Informacion de las columnas

In [7]:
print("Informacion de las columnas: ")
print(ventas.info())

Informacion de las columnas:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   VentaID         1200 non-null   int64
 1   ProductoID      863 non-null    float64
 2   ClienteID       911 non-null    float64
 3   Fecha           1200 non-null   object
 4   Cantidad        869 non-null    float64
 5   PrecioUnitario  790 non-null    float64
 6   Monto           554 non-null    float64
dtypes: float64(5), int64(1), object(1)
memory usage: 65.8+ KB
None

Resumen de valores nulos

In [8]:
print("Resumen de los datos nulos: ")
print(ventas.isnull().sum())

Resumen de los datos nulos:
VentaID             0
ProductoID        337
ClienteID         289
Fecha               0
Cantidad          331
PrecioUnitario    410
Monto             646
dtype: int64

#Transformacion (T)

Normalizacion de nulos

In [9]:
ventas = ventas.replace("", np.nan)

Correccion tipo de datos

> verificar los tipos de cada columna


> asegurarse que sea del tipo correcto

In [10]:
ventas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   VentaID         1200 non-null   int64
 1   ProductoID      863 non-null    float64
 2   ClienteID       911 non-null    float64
 3   Fecha           1200 non-null   object
 4   Cantidad        869 non-null    float64
 5   PrecioUnitario  790 non-null    float64
 6   Monto           554 non-null    float64
dtypes: float64(5), int64(1), object(1)
memory usage: 65.8+ KB

In [11]:
ventas["Fecha"]= pd.to_datetime(ventas["Fecha"], errors="coerce")
ventas["Cantidad"]= pd.to_numeric(ventas["Cantidad"], errors="coerce")
ventas["PrecioUnitario"]= pd.to_numeric(ventas["PrecioUnitario"], errors="coerce")
ventas["Monto"]= pd.to_numeric(ventas["Monto"], errors="coerce")

Manejo de datos nulos (tipos)

> Manejo de cantidades discretas usamos la moda

> Manejo de cantidades continuas usamos la mediana

> En la columna Monto si faltan lo recalculamos

In [12]:
ventas["Cantidad"] = ventas["Cantidad"].fillna(ventas["Cantidad"].mode()[0])

In [13]:
ventas["PrecioUnitario"] = ventas["PrecioUnitario"].fillna(ventas["PrecioUnitario"].median())

In [14]:
ventas["Monto"] = ventas["Monto"].fillna(ventas["Cantidad"]* ventas["PrecioUnitario"])

In [15]:
ventas.isnull().sum()

VentaID             0
ProductoID        337
ClienteID         289
Fecha               0
Cantidad            0
PrecioUnitario      0
Monto               0
dtype: int64

Tratamiento de duplicado

In [17]:
print("Duplicados")
print(ventas.duplicated().sum())

Duplicados
0

In [18]:
ventas = ventas.drop_duplicates()

Crear columnas derivadas

In [19]:
ventas["Año"] = ventas["Fecha"].dt.year
ventas["Mes"] = ventas["Fecha"].dt.month
ventas["Dia"] = ventas["Fecha"].dt.day

In [20]:
ventas.head()

,VentaID,ProductoID,ClienteID,Fecha,Cantidad,PrecioUnitario,Monto,Año,Mes,Dia
0,1,NaN,NaN,2023-10-16,5.0,50.0,250.0,2023,10,16
1,2,104.0,202.0,2023-08-21,4.0,200.0,800.0,2023,8,21
2,3,105.0,203.0,2023-03-18,5.0,100.0,500.0,2023,3,18
3,4,NaN,205.0,2023-04-26,1.0,500.0,500.0,2023,4,26
4,5,103.0,204.0,2023-06-03,4.0,200.0,800.0,2023,6,3

Dividir Monto por categoria (bajo, pequeño, mediano, alto, muy alto)

In [24]:
ventas["CategoriaMonto"] = pd.cut(
    ventas["Monto"],
    bins=[0, 200, 500, 1000, np.inf],
    labels=["Bajo", "Medio", "Alto", "Muy Alto"]
)

In [25]:
ventas.head()

,VentaID,ProductoID,ClienteID,Fecha,Cantidad,PrecioUnitario,Monto,Año,Mes,Dia,CategoriaMonto
0,1,NaN,NaN,2023-10-16,5.0,50.0,250.0,2023,10,16,Medio
1,2,104.0,202.0,2023-08-21,4.0,200.0,800.0,2023,8,21,Alto
2,3,105.0,203.0,2023-03-18,5.0,100.0,500.0,2023,3,18,Medio
3,4,NaN,205.0,2023-04-26,1.0,500.0,500.0,2023,4,26,Medio
4,5,103.0,204.0,2023-06-03,4.0,200.0,800.0,2023,6,3,Alto

# Load (L)

Guardar un csv lo modelado

In [26]:
ventas.to_csv("ventas_modelado.csv", index= False)